#alinha{
    text-align: justify;
    margin: 6rem;
    font-size: 1.4rem;
}

#num{
    margin-top: 3rem;
    margin-left: 10rem;
    width: 18rem;
    height: 3rem;
    font-size: 1.4rem;
    font-family: cursive;
    color: #333333;
    border: rgb(235, 235, 48) 7px groove;
    border-radius: 7px;
}

#num:active{
    box-shadow: 0 0.4rem 1.4rem 0 #ffbc40;
    transition: transform 150ms;
    transform: scale(1.02);
    transition: all ease 0.5s 0.0s;
    border-radius: 7px;
}

#botaao{
    margin-left: 1.5rem;
    text-align: center;
    width: 4.2rem;
    font-weight: bolder;
    height: 3rem;
    font-size: 1.4rem;
    color: #333333;
    border: rgb(235, 235, 48) 7px groove;
    border-radius: 7px;
    background-color: rgb(251, 215, 149);
}

#botaao:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 yellow;
    transition: transform 150ms;
    transform: scale(1.02);
    transition: all ease 0.3s 0.0s;
}

#meuh1{
    color: #333333;
    font-family: cursive;
    font-size: 1.5rem;
    margin: 40px;
    text-align: justify;
}

.meup{
    text-align: justify;
    margin: 6rem;
    font-size: 1.4rem;
    color: #333333;
    margin-bottom: 4px;
    margin-top: 6px;
}

.botaaao{
    margin-left: 25%;
    display: inline-block;
    width: 7rem;
    height: 3rem;
    font-size: 1.2rem;
    border: #555555 3px groove;
    color: #333333;
}

.botaaao:hover{
    transition: transform 150ms;
    transform: scale(1.02);
    transition: ease-in 0.3s 0.0s;
    animation-name: botaozin;
    animation-delay: os;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes botaozin{
    0%{
        border: rgb(11, 223, 36) 5px solid;
    }
    25%{
        border: rgb(224, 11, 11, 1) 5px solid;
    }
    50%{
        border: rgb(11, 223, 36) 5px solid;
    }
    75%{
        border: rgb(224, 11, 11, 1) 5px solid;
    }
    100%{
        border: rgb(11, 223, 36) 5px solid;
        border: rgb(224, 11, 11, 1) 5px solid;
    }
}

.meusps{
    margin: 6rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: black;
    box-shadow: inset 3px 0 0 0 rgba(41, 41, 41, 1);
    padding: 23px;
}

.center{
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 327.078;
}

#meuh3{
    font-size: 1.4rem;
    color: #333333;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 4rem;
}

#anima{
    text-align: center;
    font-size: 1.8rem;
    animation-name: animação;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);   
}

@keyframes animação{
    0%{
        color: orange;
        transform: rotateY(360deg);

    }
    100%{
        color:yellow;
        transition: ease;
        
    }
}